<h2>
  Directory to all the record listings in this repository
</h2>
<p>
  Total number of pages: <b><%= total_pages %></b>,<br>
  Total number of records: <b><%= count %></b>
</p>
<% page_urls.forEach( function(url, index){ %>
  <p>
    <a class="directory-page" href="<%= url %>"> 
      Page <%= index + 1 %> - records <%= index * limit %> to <%= (index + 1) * limit %> 
    </a>
  </p>
<% } ); %> 

  